.scroll {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: transparent;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.scroll.active {
  background-color: black;
}

.carousel-caption {
  margin-bottom: 2rem;
}

h4 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.h-3 {
  padding-top: 10%;
  padding-bottom: 10%;
}

h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.mmt {
  font-size: 100%;
}

header {
  padding-bottom: 1rem;
}

section {
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}

.col-sm {
  padding-bottom: 0.5rem;
}

.flex-item {
  text-align: center;
  border-radius: 1rem;
  background: #F1F1F1;
  box-shadow: 0rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  font-size: 100%;
  transition: background-color 0.3s ease;
}
.flex-item:hover{
  background-color: rgb(195, 195, 195);
}

.container-02 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-02-item {
  color: white;
  border-radius: 1rem;
  background: #414141;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  width: 20rem;
  height: 20rem;
  margin: 3rem;
  padding: 2rem;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.container-02-item:hover {
  background-color: rgb(23, 23, 23);
}

.dx1 {
  display: inline-block;
  margin-bottom: 20%;
  text-decoration: none;
  margin-top: 20%;
  border-radius: 2rem;
  background: #ffa304;
  color: black; 
  padding: 6% 16%;
  box-shadow: 0px 0.2rem 0.2rem 0.2rem rgba(255, 208, 37, 0.25);
  box-sizing: border-box;
  border: 0.2rem solid white;
  backdrop-filter: blur(0.6rem);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.dx1:hover {
  background-color: #ff7700;
}

.dx1:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.dx2 {
  text-decoration: none;
  font-size: 100%;
  border-radius: 1rem;
  background-color: #f7ad22;
  color: #000; 
  padding: 0.5rem 0.5rem;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0.2rem 0.2rem 0.2rem rgba(255, 208, 37, 0.25);
  box-sizing: border-box;
  border: 0.1rem solid white;
  backdrop-filter: blur(0.6rem);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.dx2:hover {
  background-color: #fa9200;
}

.dv {
  text-align: center;
}

.cdxsc {
  text-align: center;
  background: #FAFAFA;
}

.khngvct {
  background: #1E1E1E;
}

.khachhangnoigivechungtoi {
  background: #1E1E1E;
}

.daidien {
  width: 15%;
  height: 15%;
  border-radius: 2rem;
  border: 1px solid #000;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.bl {
  padding-top: 10%;
}

.lgdkh {
  padding-bottom: 10%;
}

.noidung {
  padding-top: 10%;
}

footer {
  color: white;
  background: #000000;
}

.checked {
  color: orange;
  padding-bottom: 1rem;
}

.social-button{
  display: inline-grid;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  min-width: 6%;
  text-align: center;
  z-index: 99999;
}
.social-button-content{
  display: inline-grid;   
}
.social-button a {padding:8px 0;cursor: pointer;position: relative;}
.social-button i{
  width: 3rem;
  height: 3rem;
  background: #444444;
  color: #fff;
  border-radius: 100%;
  font-size: 150%;
  text-align: center;
  line-height: 1.9;
  position: relative;
  z-index: 999;
}
.social-button span{
  display: none;
}
.call-icon:hover > span, .mes:hover > span, .sms:hover > span, .zalo:hover > span{display: block}
.social-button a span {
  border-radius: 2rem;
  text-align: center;
  background: rgb(207, 207, 207);
  padding: 1rem;
  display: none;
  width: 16rem;
  margin-left: 1.5rem;
  position: absolute;
  color: #0b0b0b;
  z-index: 999;
  top: 10%;
  left: 3.5rem;
  transition: all 0.2s ease-in-out 0s;
  -moz-animation: headerAnimation 0.7s 1;
  -webkit-animation: headerAnimation 0.7s 1;
  -o-animation: headerAnimation 0.7s 1;
  animation: headerAnimation 0.7s 1;
}

.bi {
  font-size: 2rem;
  text-decoration: none;
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.bi:hover {
  opacity: 0.7;
}

.bi-youtube {
  background: #bb0000;
  color: white;
}

.youtube-link {
  text-decoration: none;
}

.bi-twitter {
  background: #397eed;
  color: white;
}

.twitter-link {
  text-decoration: none;
}

.bi-instagram {
  background: #cd4c4c;
  color: white;
}

.instagram-link {
  text-decoration: none;
}

.bi-facebook {
  background: #083368;
  color: white;
}

.facebook-link {
  text-decoration: none;
}


