body {
    background-color: #F6F6F6;
  }
  
  .navbar {
    background-color: #ffffff;
  }

  .section-01 {
    text-align: center;
    justify-content: center;
  }

  section {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
  }
  
  footer {
    background: #000000;
    color: white;
  }
  
  h4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  img {
    border-radius: 1rem;
  }
  
  h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h2 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h3 {
    padding-bottom: 2rem;
  }

  .col-lg{
    margin-top: 2rem;
  }
  
  .row {
    border-radius: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  
  
  .dx1 {
    margin-bottom: 2rem;
    text-decoration: none;
    margin-top: 2rem;
    border-radius: 1rem;
    background: #959595;
    color: white; 
    padding: 1rem 2rem;
    display: inline-block;
    transition: background-color 0.3s ease;
    box-shadow: 0rem 0.1rem 0.1rem 0.1rem rgba(121, 121, 121, 0.25);
    box-sizing: border-box;
    border: 0.2rem solid white;
    backdrop-filter: blur(0.6rem);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
  }
  
  .dx1:hover {
    background-color: #272727;
  }

  .social-button{
    display: inline-grid;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    min-width: 6%;
    text-align: center;
    z-index: 99999;
  }
  .social-button-content{
    display: inline-grid;   
  }
  .social-button a {padding:8px 0;cursor: pointer;position: relative;}
  .social-button i{
    width: 3rem;
    height: 3rem;
    background: #444444;
    color: #fff;
    border-radius: 100%;
    font-size: 150%;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
  }
  .social-button span{
    display: none;
  }
  .call-icon:hover > span, .mes:hover > span, .sms:hover > span, .zalo:hover > span{display: block}
  .social-button a span {
    border-radius: 2rem;
    text-align: center;
    background: rgb(207, 207, 207);
    padding: 1rem;
    display: none;
    width: 16rem;
    margin-left: 1.5rem;
    position: absolute;
    color: #000000;
    z-index: 999;
    top: 10%;
    left: 3.5rem;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
  }
  
  .bi {
    font-size: 2rem;
    text-decoration: none;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .bi:hover {
    opacity: 0.7;
  }
  
  .bi-youtube {
    background: #bb0000;
    color: white;
  }
  
  .youtube-link {
    text-decoration: none;
  }
  
  .bi-twitter {
    background: #397eed;
    color: white;
  }
  
  .twitter-link {
    text-decoration: none;
  }
  
  .bi-instagram {
    background: #cd4c4c;
    color: white;
  }
  
  .instagram-link {
    text-decoration: none;
  }
  
  .bi-facebook {
    background: #083368;
    color: white;
  }
  
  .facebook-link {
    text-decoration: none;
  }
  